{# @experimental - the opengraph handling will likely change in future#}
{#
    # Opengraph Helper

    @see doc/opengraph.md
    @see https://symfony.com/doc/current/templates.html#bundle-templates

    trans filter provided by symfony/twig-bridge

    ### set opengraph data in your template:
    {% block open_graph %}
        {% set og_variables_defaults = {
            title: block('title'),
            description: block('description'),
            image_name: 'global/logo.png'
        }%}
        {% set og_variables_internal = og_variables_defaults|merge(og_variables|default({})) %}
        {% include '@C33sUtils/_opengraph.html.twig' with {
            og_variables: og_variables_internal,
        } only %}
    {% endblock open_graph %}
#}
{#{{ block('title') }}#}
{#{{ dump(og_variables) }}#}
{# Most applications will not display more than 300 characters in their open graph previews - some only 200 #}
{% set max_description_length = og_variables['max_description_length']|default(300) %}
{% set asset_version = og_variables['asset_version']|default(1) %}
{% set type = og_variables['type']|default('website') %}
{% set site_name = og_variables['site_name']|default('company.name'|trans) %}
{% set domain = og_variables['domain']|default(url('homepage')) %}
{% set title = og_variables['title']|default('company.name'|trans) %}
{% set description = og_variables['description']|default('company.description'|trans)|u.truncate(max_description_length, '...', true) %}
{% set extra_metas = og_variables['extra_metas']|default() %}
{# keywords currently not used below #}
{#{% set keywords = og_variables['keywords']|default('company.keywords'|trans) %}#}
{% set url = og_variables['url']|default(app.request.uri) %}
{% if og_variables['image_name'] is defined and og_variables['image_name'] is valid_extension %}
    {% set image_url = asset(og_variables['image_name'])|imagine_filter('open_graph_logo') %}
{% endif %}
{% set image_url = (image_url ?? og_variables['image_url']|default(asset('logo.png')|imagine_filter('open_graph_logo'))) ~ '?v=' ~ asset_version %}

<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="{{ type }}" />
<meta property="og:url" content="{{ url }}"/>
<meta property="og:site_name" content="{{ site_name }}" />
<meta property="og:image" itemprop="image primaryImageOfPage" content="{{ image_url }}" />
<meta property="og:locale" content="{{ get_parameter('locale') }}" />

{% for extra_meta in extra_metas %}
<meta property="{{ extra_meta.property }}" content="{{ extra_meta.content }}" />
{% endfor %}

<meta name="twitter:card" content="summary"/>
<meta name="twitter:domain" content="{{ domain }}"/>
<meta name="twitter:title" property="og:title" itemprop="name" content="{{ title }}" />
<meta name="twitter:description" property="og:description" itemprop="description" content="{{ description }}" />
